{% extends 'hw5app/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <h2>Добавьте информацию и Загрузите изображение</h2>
    {% if answer %}    
    {{ answer }}
    <form action="http://KostLane.pythonanywhere.com">
        <button type="submit">Перейти на главную</button>
    </form>
    {% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form.as_p }}
        <button type="submit">Отправить</button>
    </form>
    {% endif %}
{% endblock %}
